<head>
<% content_for(:title, "Help") %>
</head>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Help
    </div>  

    <div style="margin: auto; font-size: 20px;">Frequently Asked Questions (FAQs)</div>
    <button type="button" class="question-panel"><%=faq![0][0]%></button>
      <div class="answer">
        <p>
        <%=faq![0][1]%> 
        </p>
      </div>

    <button type="button" class="question-panel"><%=faq![1][0]%></button>
      <div class="answer">
        <p>
        <%=faq![1][1]%>
        </p>
      </div>

    <button type="button" class="question-panel"><%=faq![2][0]%></button>
      <div class="answer">
        <p>
        <%=faq![2][1]%>
        </p>
      </div>

    <button type="button" class="question-panel"><%=faq![3][0]%></button>
      <div class="answer">
        <p>
        <%=faq![3][1]%>
        </p>
      </div>

    <button type="button" class="question-panel"><%=faq![4][0]%></button>
      <div class="answer">
        <p>
        <%=faq![4][1]%>
        </p>
      </div>
    
    <button type="button" class="question-panel"><%=faq![5][0]%></button>
      <div class="answer">
        <p>
        <%=faq![5][1]%>
        </p>
      </div>

    <button type="button" class="question-panel"><%=faq![6][0]%></button>
      <div class="answer">
        <p>
        <%=faq![6][1]%>
        </p>
      </div>

    <button type="button" class="question-panel"><%=faq![7][0]%></button>
      <div class="answer">
        <p>
        <%=faq![7][1]%>
        </p>
      </div>

    <button type="button" class="question-panel"><%=faq![8][0]%></button>
      <div class="answer">
        <p>
        <%=faq![8][1]%>
        </p>
      </div>

    <button type="button" class="question-panel"><%=faq![9][0]%></button>
      <div class="answer">
        <p>
        <%=faq![9][1]%>
        </p>
      </div>

	</div>
</div>

<script>
  var coll = document.getElementsByClassName("question-panel");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>