<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <div class="header">
        <h1>ValetBike</h1>
      </div> 
    </div>
    <div class ="bad-puns">
    <img style="height:150px; " src="../../assets/bigJelly.png">
      <div class="bubble">
        <h2>Jelly's Jokes: <br> <%= ShowPuns! %></h2>
      </div>
    <div class="homepage-blurb"> Welcome to ValetBike, an exciting way to explore Nipmuc Notch! 
    ValetBike allows you to easily travel around the community by renting a bike from one of our many stations. 
    Bikes can be rented and returned to any station through our website; all you need is a ValetBike account! 
    Check out the instructions below to get started. </div>
      
    </div>
    
    <div class="basic-instructions flexbox vertical stretch">
      <div class="basic-instruction-step">
        <span>Join Us</span>
        <p class="basic-instruction-text">Create an account! You can register using your e-mail only.
        </p>
        <img class="basic-instruction-image" style="width:70%" src="../../assets/join.png" alt="Image 1"> <!-- favicon used as placeholder -->
      </div>
      <div class="basic-instruction-step">
        <span>Unlock Bike</span>
        <p class="basic-instruction-text"> Unlock a bike by selecting the a specific station or bike ID listed on the Station Map/List page. You will pay from your balance, which must be filled in advance.  
        </p>
        <img class="basic-instruction-image" src="../../assets/unlock.png" alt="Image 2">
      </div>
      <div class="basic-instruction-step">
        <span>Ride</span>
        <p class="basic-instruction-text">After you unlock the bike, it's time to explore our beautiful valley! Enjoy your ride!</p>
        <img class="basic-instruction-image" style="width:80%" src="../../assets/ride.png" alt="Image 3">
      </div>
      <div class="basic-instruction-step">
        <span>Lock Bike</span>
        <p class="basic-instruction-text">Once you want to end your ride, you can return the bike to any ValetBike station and dock it there. You will need to indicate what station you would like to dock your bike.
        </p>
        <img class="basic-instruction-image" src="../../assets/lock.png" alt="Image 4">
      </div>
    </div>
    <div class ="funsies"> 
      <div class ="btn-folder">
        <button id="nature-btn" style="font-weight: bold">Explore Nature</button>
        <button id="town-btn">Explore Town</button>

      </div>
      <div id="nature">
        <div class = "gems" style="background-color: #a3daa3;">
          <img src="../../assets/manhan-rail-trail.jpg">
          <p> <b>Manhan Rail</b> </br> <%= ManhanRail! %> </br>
          <p>
          <a class="learn-more-btn-1" href="https://manhanrailtrail.org/directions/" target="_blank">Learn More</a>
        </div>
        <div class = "gems" style="background-color: #a3daa3;">
          <img src="../../assets/hitchcock.png">
          <p> <b>South Amherst</b> </br> <%= SouthAmherst! %> <p>
          <a class="learn-more-btn-1" href="https://www.hitchcockcenter.org/" target="_blank">Learn More</a>
        </div>
      </div>

      <div id="town" style="display:none;">
        <div class = "gems" style="background-color: #71a971ea;">
        <img src="../../assets/mill.jpg">
        <p> <b>Mill District</b> </br><%= MillDistrict! %>
        <p>
        <a class="learn-more-btn-2" href="https://themilldistrictna.com/" target="_blank">Learn More</a>
       </div>

       <div class = "gems" style="background-color: #71a971ea;">
        <img src="../../assets/academy-of-music.jpg" style="height: 210.4px">
        <p> <b>Northampton Downtown</b> </br> <%= NorthamptonDowntown! %>
        <p>
        <a class="learn-more-btn-2" href="https://www.aomtheatre.com/" target="_blank">Learn More</a>

       </div>
      </div>
    </div>

	</div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>

    window.onclick = function(event){
      if (event.target.matches("#town-btn")) {
        $("#town").css("display", "block")
        $("#town-btn").css("font-weight", "bold")
        $("#nature").css("display", "none")
        $("#nature-btn").css("font-weight", "")
      }
      if (event.target.matches("#nature-btn")) {
        $("#nature").css("display", "block")
        $("#nature-btn").css("font-weight", "bold")
        $("#town").css("display", "none")
        $("#town-btn").css("font-weight", "")
      }
    };

  </script>
</div>