<head><% content_for(:title, "Sign Up") %></head>
<div class="page-section2 flexbox vertical stretch form">
  <div class="flexbox vertical center">
    <h2 class="user-page-title">Sign up</h2><br/>

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>


      <div class="field">
        <%= f.label :email, :class => "field-title" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :username, :class => "field-title" %><br>
        <%= f.text_field :username, autocomplete: "username" %>
      </div>

      <div class="field">
        <%= f.label :password, :class => "field-title" %><br>
        <% if @minimum_password_length %>
          <em style="float: left">(<%= @minimum_password_length %> characters minimum)</em><br>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, :class => "field-title" %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      
      <br>
      <button class="actions">
        &nbsp;&nbsp;Sign up
        <%= f.submit " " %>
      </button>
      <br>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>

<%#= render "devise/shared/links" %>

<div>
  <img style ="margin-bottom:1000px; margin-left: 800px; width: 500px; height: 500px;"src="../../assets/joinJelly.png">
</div>
