<style type="text/css">
  .rent-bike-btn:hover {
    color: black!important;
  }
</style>

<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <b><%= station.name %> (<%= station.address %>)</b>
  <%= "Number of docked bikes: " %> <%= station.docked_bikes.count %><br>
  <%= "Number of available docks: " %> <%= station.dock_count - station.docked_bikes.count %><br>
  
  <% if station.docked_bikes.present? %>
  <div class="bikes-dropdown">
    <button onclick="buttonClick(this)" class="bikes-dropbtn">Show bikes</button>
    <div class="bikes-dropdown-content">
      <% @bikes.each do |bike| %>
        <% if bike.current_station == station %>
          <a href="#" style="float: left;padding:6%;"><%= "Bike ID: " %> <%=bike.identifier%> </br> Runtime: <%= runTime!(bike.battery_percentage) %> minutes <%= "(battery: " %> <%=bike.battery_percentage%> <%= "%)" %> </a>
          <button style="float: right;padding:2px; margin-top: 15px;"> 
            <%= link_to('Rent this bike', 
              {controller: "rides", action:"index", bike: bike.identifier}, 
              {:style=>'color:white; background-color: #61a961; border-radius: 12px', :class => "rent-bike-btn"}
            ) %>
          </button>

        <%end%>
      <%end%>
    </div>
  </div>
  <%end%>
</div>

<script>

$('.rent-bike-btn:hover').css("background-color", "gray");

function createIds() {
  var counter = 1;
  var buttons = document.querySelectorAll(".bikes-dropbtn");
  var dropdowns = document.querySelectorAll(".bikes-dropdown-content")
  for (var i = 0; i < buttons.length; i++) {
    buttons[i].setAttribute("id","bikes-dropbtn-" + counter);
    dropdowns[i].setAttribute("id","bikes-dropdown-" + counter);
    counter++;
  }
} 

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function buttonClick(clickedButton) {
  createIds();
  var suffix = clickedButton.id.slice(-1);
  document.getElementById("bikes-dropdown-" + suffix).classList.toggle("show");
  if (document.getElementById("bikes-dropbtn-" + suffix).innerHTML == "Show bikes") {
    document.getElementById("bikes-dropbtn-" + suffix).innerHTML = "Hide bikes";
  } else {
    document.getElementById("bikes-dropbtn-" + suffix).innerHTML = "Show bikes";
  }
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.bikes-dropbtn')) {
    var dropdowns = document.getElementsByClassName("bikes-dropdown-content");
    var buttons = document.querySelectorAll(".bikes-dropbtn");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
        buttons[i].innerHTML = "Show bikes";
      }
    }
  }
}
</script>