<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.name %> (<%= station.address %>)<br> 
  <%= "Number of docked bikes: " %> <%= station.docked_bikes.count %><br>
  <%= "Number of available docks: " %> <%= station.dock_count - station.docked_bikes.count %><br>
  
  <ul>
  <% @bikes.each do |bike| %>
    <% if bike.current_station == station %>
      <li class="bike"><%= "Bike ID: " %> <%=bike.identifier%> <%= "(battery: " %> <%=bike.battery_percentage%> <%= "%)" %></li>
    <%end%>
  <%end%>
  <ul>
</div>

