<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.identifier %>: <%= station.name %> (<%= station.address %>)<br> 
  <%= "Number of docked bikes: " %> <%= station.docked_bike_count %><br>
  <%= "Number of docks: " %> <%= station.dock_count %><br>
  
  <!-- <%= "Bikes: " %> <%= station.docked_bike_ids %><br> -->
 

  <ul>
  <% @bikes.each do |bike| %>
    <% if bike.current_station_id == station.identifier %>
      <li><%= "Bike ID: " %> <%=bike.identifier%></li>
      <li><%= "Bike battery %: " %> <%=bike.battery_percentage%></li>
      <%end%>
    <%end%>
  </ul>
</div>