<div class="page-section flexbox vertical stretch">
  <div class="flexbox vertical center">
    <h2 class="user-page-title">Forgot your password?</h2><br/>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <h2 class="field-title"><%= f.label :email %></h2>
        <div class="field-textbox"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div>

      <br>
      <button class="actions">
        &nbsp;&nbsp;Send me reset password instructions
        <%= f.submit " " %>
      </button>
      <br>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
