<div class="page-section2 flexbox vertical stretch form">
  <div class="flexbox vertical center">
    <h2 class="user-page-title">Forgot your password?</h2><br/>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, :class => "field-title", :style => 'padding-left: 35px;' %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <br>
      <button class="actions">
        &nbsp;&nbsp;Send me reset password instructions
        <%= f.submit " " %>
      </button>
      <br>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>

<%#= render "devise/shared/links" %>

<img style ="width:400px; margin-left: 700px; margin-top: -300px;" src="../../assets/byeJelly.png">

