<head>
<% content_for(:title, "Log in") %>
</head>

<div class="page-section2 flexbox vertical stretch form">
  <div class="flexbox vertical center">

    <h2 class="user-page-title">Log in</h2><br/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      
      <div class="field">
        <%= f.label :email, :class => "field-title" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, :class => "field-title" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field field-title">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <% devise_error_messages! %>
      <br>
      <br>
      <button class="actions">
        &nbsp;&nbsp;Log in
        <%= f.submit " "%>
      </button>
      <br>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>


<%#= render "devise/shared/links" %>



<img style ="width:400px; margin-left: 700px; margin-top: -300px;" src="../../assets/welcomeJelly.png">
