<head><% content_for(:title, "#{current_user.username}'s Profile") %></head>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <div class="header">
          <h1><strong>My Account</strong></h1>
        </div>
      </div>
  
      <div class="flexbox vertical stretch">
      <% if user_signed_in? %>
        <b> Signed in as: </b> <%= current_user.username %><br/>
        <b>Email address:</b> <%= current_user.email %><br/>
        [Add later: change password]</br>
        <b>Balance:</b> $<%= "%0.2f"% [current_user.balance] %><br/>
        <b>Ride History:</b>

        </div>  
          <% if @userRides.present? %>
            <% @userRides.each do |ride| %>
              <div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
                <b>From:</b> <%= Station.find(ride.start_station_id).name %> at <%= ride.start_time.localtime.strftime("%I:%M %p on %A %m/%d/%Y") %> <br> 
                <b>To:</b> <%= Station.find(ride.end_station_id).name %> at <%= ride.end_time.localtime.strftime("%I:%M %p on %A %m/%d/%Y") %><br> 
                <b>Bike:</b> <%= Bike.find(ride.bike_id).identifier %><br> 
              </div>
            <% end %>
          <% else %>
          <div class="empty">
            No rides found.
          </div>
          <% end %>




        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      
      <% else %>
      <div class="empty">
        Not signed in <br>
        <%= link_to 'Sign in', '/users/sign_in' %>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
