<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      End Ride
    </div>

    <% if params[:station] %>
        You have finished your ride on bike: <%= (Bike.find(@ride.bike_id)).identifier %>. <br/>
        The bike's current station is now <%=Station.find(Bike.find(@ride.bike_id).current_station.id).name%><br/>
        Ride started at <%= @ride.start_time %> from <%= Station.find(@ride.start_station_id).name %>.<br/>
        Ride finished at <%= @ride.end_time %> at <%= Station.find(@ride.end_station_id).name %>.<br/>
        We hope you enjoyed your ValetBike ride, <%= User.find(@ride.user_id).username %>.
        <br/>

    <button class="select-button">
      <%= link_to 'Rent another bike', '../../rides/index' %>
    </button>

    <% else %> 
        <p> Select the station to which you are returning bike <%= (Bike.find(@ride.bike_id)).identifier %>. </p>
            <form>
                <select name = "station">
                    <% @stations.each do |station|%>
                    <option><%=station.name%></option>
                    <%end%>
                </select>
                <br/>
                <%# Is there a better way to do the spacing? %>
                <button type="submit" class="select-button">Select station</button>
                <%# <input type="submit" value="Select station"> %>
            </form>

    <% end %>
	</div>
</div>