<head><% content_for(:title, "Rent") %></head>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Rent
    </div>  
    <p>Welcome! Start a ride by checking out a bike from this page.</p>
    <p>One 30 minute ride costs $2.50</p>
    <p>To get started, select a station to start your ride from: </p>

  <form>
    <select name = "station">
      <% @stations.each do |station|%>
        <option <% if params && station == @chosenStation %> selected <%end%>><%=station.name%></option>
      <%end%>
    </select>
    <br/>
    <br/>
    <button type="submit" class="select-button">Select station</button>
    <%# <input type="submit" value="Select station"> <!--is there a way to send the identifier as param instead of name?--> %>
  </form>
  
  <% if params[:station] or params[:bike]%>
  <br/>
  <%# <p>...</p> %>
  There are <%= @theseBikes.count %> bikes at <%=@chosenStation.name %>.<br/>
  Select a bike to check out for your ride: <br/>
  <form>
    <select name = "bike">
      <% @theseBikes.each do |bike|%>
        <option <% if params[:bike] && bike == @chosenBike %> selected <%end%>><%=bike.identifier%></option>
      <%end%>
    </select>
    <br/>
    <br/>
    <button type="submit" class="select-button">Select bike</button>
    <%# <input type="submit" value="Select bike"> %>
  </form>
  <br/>
  <%if params[:bike]%>
    Selected bike <%= @chosenBike.identifier %> at <%= @chosenStation.name %> (<%= @chosenStation.address%>)
    <br/>
    <br/>

    <% if current_user.balance >= 2.50 %>

    <button class="select-button"  style="width: 83px;" id="start-button">
      <%= link_to 'Start ride', ride_path(@chosenBike.identifier)%>
    </button>

    <% else %>
      <% flash[:alert] = "Not enough funds to rent this bike!" %>
    <%end%>
    
  <%end%>
  <% end%>
<%#= form_with method: :get do |form|%>
 
  <%#= form.select :station, @stations %>
  <%#=@stations%>

<%#end%>
	</div>
</div>