<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      You're on a ride!
    </div>  
    Enjoy your ride, <%= User.find(@bike.current_user_id).username %>!<br/>
    You are riding bike <%= Bike.find(@ride.bike_id).identifier %>. 
    Ride started at <%= @ride.start_time.localtime.strftime("%I:%M %p on %A %m/%d/%Y") %> from <%= Station.find(@ride.start_station_id).name %>.

    </br></br>
    <%# The following code is from https://ralzohairi.medium.com/displaying-dynamic-elapsed-time-in-javascript-260fa0e95049 %>
    </br>
    <marquee  behavior="scroll" direction="right"> 
      <img src="../../assets/cycling-bicycle.gif" style="width:100px">
    </marquee>
    
    <br/>
    <br/>
    
    <button class="select-button" style="width: 75px;">
      <%= link_to 'End ride', edit_ride_path(@ride.identifier) %> 
    </button>

	</div>
</div>