<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <div id="site-container" class="flexbox vertical stretch flex-1">
      <div class="flexbox vertical center">
        <%= yield %>
        <ul class="navbar">
          <li class="navbar-button"><a href="/">ValetBike</a></li>
          <li class="navbar-button"><a href="/stations/index">Station Map/List</a></li>
          <li class="navbar-button"><a href="/pricing_and_payment/index">Pricing and Payment</a></li>
          <li class="navbar-button"><a href="/about/index">About</a></li>
          <li class="navbar-button"><a href="/help/index">Help</a></li>
          
          <% if user_signed_in? %>
                <li style="float: right;" ><a> Signed in as <%= current_user.username%></a>
          <% else %>
            <div class="empty">                                
                <li style="float: right;"><a href='/users/sign_in'>Login</a></li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
